{% extends "shop/base.html" %}

{% block content %}
    <!-- Creer la bar recherche-->
    <div class="row">
        <div class = "col-md-12">
            <form class = "card card-sm">
                <div class="card-body row no-gutters align-items-center">
                    <div class="col">
                        <input type="search" placeholder="Entrez le nom du produit que vous chercher" name="item-name" class="form-control form-control-borderless">
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-success"> Recherche </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        {% for product in product_object %}
        <div class="col-md-3">  
            <div class="card">
                <img src="{{ product.image }}" alt="" class="card-ing-top">
                <div class="card-body">
                    <div id="aa{{ product.id }}" class="card-title"> {{ product.title }} </div>
                    <div  style="color: orange" class="card-text">$ {{product.price}} </div>
                    <a href ="{{product.id}}" class="btn btn-warning"> Voir </a>
                    <button id="{{product.id}}" class="btn ted btn-success"> Ajouter
                </div>
            </div>
        </div>
        {%endfor%}
    </div>

    <!-- Pagination de notre site -->
    <div class="row mt-3">
        <div class="col-md-3 offset-md-4">
            <ul class="pagination">
                {% if product_object.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{product_object.previous_page_number}}"> Precedent</a>
                    </li>
                {% endif %}
                    <li class="page-item active">
                        <a class="page-link" href="?page={{product_object.number}}"> {{product_object.number}}</a>
                    </li>

                {% if product_object.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{product_object.next_page_number}}"> Suivant</a>
                    </li>
                {% endif %}                
            </ul>
        </div>
    </div>
{% endblock  %}

{% block js %}
    <script>
        if(localStorage.getItem('panier') == null){
            var panier = {}
        }else{
            panier = JSON.parse( localStorage.getItem('panier'))
        }
        
        $(document).on('click', '.ted', function(){
            console.log('ajouter')
            var item_id = this.id.toString()
            console.log(item_id)
            if(panier[item_id] != undefined){
                quantite = panier[item_id][0] + 1
                panier[item_id][0] = quantite;
            }else{
                quantite = 1; 
                non = document.getElementById("aa"+item_id).innerHTML;
                panier[item_id] = [quantite, non]
            }
            console.log(panier);
            //garder en mémoire
            localStorage.setItem('panier', JSON.stringify(panier));
            //La longeur de notre pannier
           // console.log(Object.keys(panier).length);
            document.getElementById("panier").innerHTML ="Panier("+Object.keys(panier).length+")";
            
            //appeler la function
            AfficherList(panier);
        });

        //Recuperer le nom de chaque produit
        function AfficherList(var_panier){
            console.log('juste pour tester');
            var panierString = " ";
            // contactener ce text avec la liste des produits
            panierString += "<h5> Voici votre liste: </h5>";
            var index = 1;
            //affichier identifiant de chaque produit
            for(var x in var_panier){
                console.log(x);
                panierString += index;
                panierString += document.getElementById("aa"+x).innerHTML + " Qte: " + var_panier[x][0] + "</br>"; //comme c'est le dom
                index += 1;
            }
            panierString += "<a href='checkout/' class='btn btn-primary btn-lg btn-block' > Checkout </a>"

            $('[data-toggle="popover"]').popover();
            //changer le message du popover
            document.getElementById("panier").setAttribute('data-content', panierString);
        }

    </script>

{% endblock  %}